@font-face{
	src: url(weblysleekuisb.ttf);
	font-family: weblyslee;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	background-color: #f3f2f1;
}

.menu{
	width: 100vw;
	height: 48px;
	background-color: #3a35c1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px 2px 16px;
}
.btn1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 3px;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-style: none;

}
.btn1 > div{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 50%;
}


span.word{
	position: absolute;
	top: 16px;
	left: 56px;
	width: 37px;
	height: 12px;
	color: white;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    font-family: weblyslee;

}
.btn2{
	position: absolute;
	left: 120px;
	background-color: transparent;
	border-style: none;
	color: white;
	font-family: sans-serif;
	font-size: 14px;	

}
input{
	position: absolute;
	left: 450px;
	top: 8px;
	width: 468px;
	height: 32px;
	padding-left: 45px;
	background-color: #c8d0e7;
	border-style: none;
	border-radius: 4px;

}

.search{
	position: absolute;
	left: 468px;
	transform: rotateY(190deg);
}

input::placeholder {
	color: hsl(225, 100%, 40%);
}
input:focus{
	outline: none;
	background-color: white;
	
	
}


.premium{
	position: absolute;
	right: 64px;
	top: 16px;
	color: white;
	font-size: 15px;
	


}
svg.compartilhar-a{
	position: absolute;
	width: 15px;
	right: 230px;
	top: -20px;
	fill: white;


}
svg.compartilhar-b{
	position: absolute;
	width: 15px;
	right: 104px;
	top: -19px;
	fill: blue;
	
}
p{
	font-size: 13px;
	margin-left: 15px;
}
.btn3{
	position: absolute;
	right: 8px;
	top: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: transparent;
	color: white;
}
 section.sub-menu{
 	position: absolute;
 	top: 48px;
 	width: 100vw;
 	height: 76px;
 	background-color: #f3f2f1;
 	box-shadow: 0  0px 3px rgba(0, 0, 0, 0.3);
 	
 }

/*.................................................*/

 .ribbom-up {
 	
 	width: 100vw;
 	height: 38px;
 }
 .ribbom-up > button{
 	border-style: none;
 	letter-spacing: 0.5px;

 }
.buttons-left{
	position: absolute;
	display: flex;
	width: 45vw;
	top: 8px;
	left: 23px;
}
.buttons-left > button{
	margin-right: 31px;
	border-style: none;
    font-family: sans-serif;
}
.buttons-left > button:hover{
	font-weight: bold;
	border-bottom: 3px solid blue;
	padding-bottom: 4px;


}

#btn-9{
	position: absolute;
	width: 95px;
	height: 28px;
	right: 651px;
	top: 4px;

	background-color: #ffffff;
	color: #3431ad;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 3px;
	font-weight: bold; 	
}
#btn-10{
	position: absolute;
	width: 119px;
 	height: 28px;
 	right: 132px;
 	top: 4px;
 	
 	background-color:  #3431ad;
 	color: white;
 	border-style: none;
 	border-radius: 3px;
 	font-weight: bold;
 	
}
 #btn-11{
 	position: absolute;
 	width: 116px;
 	height: 28px;
 	right: 8px;
 	top: 4px;
 	background-color: white;
 	color: #3a35c1;
 	border: 1px solid rgba(0, 0, 0, 0.2);
 	border-radius: 2px;
 	font-weight: bold;
 }
/*............................................*/
 svg.a{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 42px;
	top: 49px;
	
}
svg.b{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 90px;
	top: 50px;
}
svg.c{
	position: absolute;
	width: 11px;
	height: 11px;
	left: 336px;
	top: -30px;
	fill: white;
}
svg.d{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 658px;
	top: 13px;
	fill: #3a35c1;

	
}


svg.e{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 585px;
	top: 50px;
	

	
}
svg.f{
	position: absolute;
	width: 12px;
	height: 12px;
	left: 630px;
	top: 50px;
	
}
/**/
svg.g{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 595px;
	top: 50px;
}
svg.h{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 550px;
	top: 50px;	
}

svg.i{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 418px;
	top: 50px;
		
}
/**/

svg.j{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 355px;
	top: 50px;


	
}

svg.k{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 300px;
	top: 50px;	
}
svg.l{
	position: absolute;
	width: 12px;
	height: 12px;
	right: 248px;
	top: 50px;	
}


svg.reload{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 18px;
	top: 46px;
}

svg.paste{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 66px;
	top: 46px;
}
svg.pa{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 115px;
	top: 46px;
}
svg > path.back-color {
    fill: rgba(250, 250, 250, 1.000);
}
svg .contorno {
    fill: rgba(58, 58, 56, 1.000);
}

svg > path.ponta{
    fill: rgba(222, 108, 0, 1.000);
}
svg > path.ponta-in{
    fill: rgba(225, 225, 0, 1.000);
}
.buttons-1{
	width: 150px;
	height: 32px;
	margin-top: 2px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
 .diamante{
	position: absolute;
	right: 186px;
	top: -31px;
	width: 16px;
	height: 16px;
}
svg .diamante-border{
	fill: white;
}
.lapis{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 720px;
	top: 10px;
}
svg .lapis-border{
	fill: #3a35c1;
}
#fonts{
	position: absolute;
	left: 154px;
	top: 42px;
	width: 126px;
	height: 28px;
	border-radius: unset;
	background-color: white;

}

#font-s{
	position: absolute;
	left: 279px;
	top: 42px;
	width: 51px;
	height: 28px;
	border-radius: unset;
	background-color: white;

}
.mm{
	display: flex;
	position: absolute;
	left: 334px;
	top: 40px;
	width: 389px;
	height: 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.mm > svg {
	width: 20px;
	height: 20px;
	margin: 4px 12px 0 12px;
	
}
.mmm{
	display: flex;
	position: absolute;
	left: 725px;
	top: 43px;
	width: 235px;
	height: 30px;

	border-right: 1px solid rgba(0, 0, 0, 0.2);
	
}
.mmm > svg{
	width: 20px;
	height: 20px;
	margin: 4px 12px 0 12px;

}
.mmmm{
	display: flex;
	position: absolute;
	right: 19px;
	top: 40px;
	width: 386px;
	height: 30px;
}
 .mmmm > svg{
	padding: 0 20px 0 14px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
 }
.mmmm > svg.light{
	border-style: none;
}
.mmmm > svg.po{
	border-left: 1px solid rgba(0, 0, 0, 0.2);

}
.designer{
	position: relative;
	right: 15px;
	top: 5px;
}

.aup .up-c{
	fill: skyblue;
}
.adown .down-c{
	fill: skyblue;
}
.lapis-e, .lapis-f{
	fill: white;
}
.lapis-d ,.lapis-c{
	fill: yellow;
}
.lapis-a{
	fill: black;
}
.aa-d{
	fill: red;
}
.bb-c{
	fill: white;
}
.bb-d ,.bb-e{
	fill: violet;
}
.um-b, .dois-b, .tres-c, .quatro-c {
	fill: skyblue;
}
.tinta-d, .fone-b, .luz-d{
	fill: skyblue;
}
.tinta-b, .caneta-b{
	fill: white;
}
.lupa-b{
	fill: white;
}
.caneta-c{
	fill: blue;
}
