*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;

}
.menu{
	width: 100vw;
	height: 54px;
	background-color: hsl(220, 80%, 46%);
	display: flex;
	justify-content: center;

}
.gridButton{
	position: absolute;
	left: 0;
	width: 54px;
	height: 54px;
	
}
.gridButton:hover{
	    background-color: #185abd;
}

.doc:hover{

	    background-color: #185abd;
}
.xadres > div{

	background-color: white;
	width: 100%;
	height: 100%;
	border-radius: 40%;
	padding: 1px;
	margin: 0;

}
.xadres {
	position: relative;
	left: 18px;
	top: 18px;
	width: 18px;
	height: 18px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 4px;
	
}

ul{
	position: absolute;
	left:120px;
	top: 20px;
	display: flex;
	list-style-type: none;
	font-family: sans-serif;
	font-size: 14px;


}
ul li{
	margin-right: 20px;
	color: white;

}
a{
	text-decoration: none;
}
svg{
	position: absolute;
	top: 20px;
	left: 485px;
	width: 23px;
	height: 15px;
	color: #c8d0e7;

}
.input{
	width: 525px;
	height: 35px;
	padding-left: 50px;
	margin: 0 4px;
	border-radius: 5px;
	background-color: #c8d0e7;
	align-self: center;
	border-style: none;

	
}
.circlePerfil{
	position: relative;
	top: 10px;
	right: -470px;
	width: 35px;
	height: 35px;
	border: 2px solid white;
	border-radius: 50%;

}

.circlePerfil span{
	position: absolute;
	color: white;
	font-size: 15px;
	left: 10%;
	top: 28%;
	font-family: sans-serif;

}
img{
	position: absolute;
	right:440px;
	top: 3px;
	width: 20px;
	height: 20px;

}
.span{
	padding: 0 12px 0 8px;
}
span.f{
	
	font-family: sans-serif;
	font-size: 14px;
	color: white;

}
.sp{
	 position: relative;
	 left: -55px;
	 font-size: 16px;
    display: inline-block;
    font-weight: 600;
    padding-right: 12px;
  
}
.diamante{
	position: absolute;
	top: 15px;
	right: -220px;
	width: 420px;
	height: 40px;
}
.submenu{
	width: 100vw;
	height: 76px;
	box-shadow: 1px 1px 3px dimgray;
}
::-webkit-input-placeholder {
   color: #2d2d9b;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2d2d9b;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2d2d9b;  
}

:-ms-input-placeholder {  
   color: #2d2d9b;  
}